/* 
  #4D869C
  #7AB2B2
  #EEF7FF
  #CDE8E5
  */
.navbar {
  width: 100%;
  height: 100px;
  background-color:#4D869C;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  top: .5px;
  position: fixed;
}

.navbar .leftSide {
  /* flex: 50%; */
  height: 100%;
  display: flex;
  align-items: center;
  /* padding-left: 150px; */
  background-color:#4D869C;  
}

.navbar .leftSide img {
  width: 70px;
}

.navbar .rightSide {
  /* flex: 50%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .menu-content {
  color: white;
  text-decoration: none;
  /* margin: 20px; */
}

 .menu {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;

}
.menu-content{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

/* .navbar .hiddenLinks .menu-content{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
} */
.navbar img {
  font-size: 40px;
  margin: 20px;
}

.navbar #open {
  padding-left: 0px;
}



.navbar #close .leftSide {
  display: none;
}
.navbar #open .hiddenLinks {
  display: inherit;
  margin: 6px;
  background-color: #4D869C
}


.navbar #open .menu-content {
  width: 100px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body-btn {
  width: 10vw;
  height: 7vh;
  background: rgb(77, 134, 156) ;
  border-radius: 5%;
  color: white;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
}
.body-btn:hover{
  background: rgba(77, 134, 156, 0.7);
}
.sub-btn {
  margin:0 25vw ;
  display: inline;
  position: relative;
  z-index: 1;

}
.reg-content-wrapper{
  background: rgba(77, 134, 156, 0.7);
  width: 35vw;
  height: 70vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4D869C;
  border-radius: 5%;
}
.reg-form ul input{
  margin: 5px;
  border-radius: 50px;
  margin: 0;
  display: block;
  width: 10vw;

}
.App {
  
  color: white;
  height: 100%;
  width: 100%;;
  display: flex;
  flex-direction: column;
  
}
.body-content{
/*  */
  margin-top:100px;
  flex: 1 0 auto;

}
.content-wrapper{
  background: rgba(49, 239, 253, 0.7);
  padding: 5%;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */

}
.home-content-wrapper{
  background:  rgba(19, 30, 30, 0.604);
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content{
  background:  rgba(49, 239, 253, 0.7);
  box-sizing: border-box;
  padding: 5%;
  text-align: center;
  margin-left: 5%;
}
.home-image img{
  width: 35vw;
  height: 100%;
}
.reg-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0%;
  color: white;

}

.reg-form ul{
  list-style-type: none;
} 
.reg-form ul li {
  margin: 5px;
  /* display: inline-block; */
  font-size: small;
  font-weight: 700;

}
@media only screen and (max-width: 900px) {
  .navbar .rightSide .menu-content {
    width: 70px;
  }
  .navbar .leftSide  {
    padding-left: 50px;
  }
  .navbar .hiddenLinks .menu-content{
    display:none;
  }
  .navbar #open img {
    display: none;
  }
  .home-content-wrapper{
    display: inline-block;
  }
  .home-image img{
    width: 100%;
    height:100%;
    margin: 0px;
  }
  .home-content{
    margin: 0;
  }
  .body-btn{
  width: 15vw;
  height: 5vh;
  background:rgb(77, 134, 156) ;
  border-radius: 5%;
  color: white;
  cursor: pointer;
  padding: 2px;
  }
  .sub-btn {
    margin-top:0%;
    margin-left: 25vw;
  
  }
  .reg-content-wrapper{
    background: rgba(77, 134, 156, 0.7);
    width: 65vw;
    height: 70vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4D869C;
    border-radius: 5%;
  }
  .reg-form ul input{
    margin: 5px;
    border-radius: 50px;
    margin: 0;
    display: block;
    width: 25vw;
  
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide .menu-content {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide .menu {
    display: inherit;

  }
  .navbar #open img {
    display: none;
  }
  .body-btn{
    width: 15vw;
    height: 5vh;
    background:rgb(77, 134, 156) ;
    border-radius: 5%;
    color: white;
    cursor: pointer;
    padding: 2px;
    }
    .home-content-wrapper{
      display: inline-block;
    }
    .home-image img{
      width: 100%;
      height:100%;
      margin: 0px;
    }
    .home-content{
      margin: 0;
    }
    .sub-btn {
      margin-top:0%;
      margin-left: 25vw;
    
    }
    .reg-content-wrapper{
      background: rgba(77, 134, 156, 0.7);
      width: 65vw;
      height: 70vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4D869C;
      border-radius: 5%;
    }
    .reg-form ul input{
      margin: 5px;
      border-radius: 50px;
      margin: 0;
      display: block;
      width: 25vw;
    
    }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide .menu{
    display:none;
  }
  .navbar  #open .menu-content{
    display: none;
  }
  .hiddenLinks {
    display: none;
  }
  .navbar #open img {
    width: 70px;
  }
  
}



/* .lout{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
} */
/* .linner{
  border-radius: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
} */
/* 
label{
  font-style:inherit;
  font-size: medium;
}
.lab{
  margin-top: 10px;
}
.inp{
  border-radius: 10vb;
  width: 200px;
  height: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn{
  margin-top: 10px;
  border-radius: 10vb;
  width: 100px;
  height: 30px;
  color: azure;
  background-color: darkslategray;
  justify-content: center;

} */